* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* generale */
body {
  background-color: #000000;
}
a {
  text-decoration: none;
  color: #ffffff;
}
ul {
  list-style: none;
}
ul > li {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  cursor: pointer;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
/* /scrollbar */
/* /generale */

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 50px;
  z-index: 2;
}
/* title */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100%;
}
h1 {
  color: #E50914;
  font-style: italic;
}
h4 {
  margin: 10px 0;
  color: #ffffff;
}
h4 > span {
  font-size: 15px;
  font-weight: 300;
  color: #cccccc;
}
/* /title */
/* nav */
.nav {
  width: calc(60% - 200px);
  height: 100%;
  line-height: 50px;
}
#nav_list > li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 0;
  height: 4px;
  background-color: #E50914;
  transition: width 0.2s linear;
}
#nav_list > li:hover:not(.active) a {
  color: #cccccc;
}
#nav_list > li:hover::before {
  width: 100%;
}
#nav_list > li.active {
  font-weight: 700;
}
#nav_list > li.active::before {
  width: 100%;
}
#hamburger_menu {
  display: none;
}
/* /nav */
/* search form */
.search_form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 0 10px;
}
.search_form > input,
.search_form > button {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #cccccc;
  background-color: transparent;
}
.search_form > input {
  width: 400px;
  /* padding-left: 10px; */
  color: #ffffff;
  font-weight: 700;
}
.search_form > input:focus,
.search_form > button:focus {
  outline: none;
}
.search_form > button {
  color: #cccccc;
  background-color: rgba(204, 204, 204, 0.3);
  cursor: pointer;
}
.search_form > img {
  width: 40px;
  margin-left: 40px;
  border: 1px solid #E50914;
  border-radius: 50%;
  cursor: pointer;
}
/* /search form */
/* /header */

/* main */
main {
  margin-top: 50px;
  padding: 50px;
}
#films {
  display: flex;
  flex-wrap: wrap;
}
.film_container {
  width: calc(100% / 7);
  padding: 30px 0;
}
.film {
  position: relative;
  width: 200px;
  height: 330px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 6px 1px #E50914;
}
.film::after {
  content: "IMMAGINE NON DISPONIBILE :(";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 330px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  background-color: rgba(204, 204, 204, 0.1);
  text-align: center;
  z-index: -1;
}
.film > img {
  width: 100%;
  height: 100%;
}
.film > .info_film {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #F7B700;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s linear;
  overflow-y: auto;
}
.info_film i {
  color: #F7B700;
}
.info_film:hover {
  opacity: 1;
}
.film_container:hover .film {
  transform: scale(1.2);
  transition: 0.3s linear;
}
#no_found {
  position: relative;
  height: calc(100vh - 150px);
  background-color: rgba(204, 204, 204, 0.1);
}
.message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.message > p {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
/* /main */

/* responsive */
@media screen and (max-width: 1600px) {
  .film_container {
    width: calc(100% / 5);
  }
}

@media screen and (max-width: 1199px) {
  #nav_list {
    display: none;
  }
  #hamburger_menu {
    display: flex;
    align-items: center;
  }
  #hamburger_menu > a {
    color: #cccccc;
    font-size: 30px;
  }
  .film_container {
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 991px) {
  .film_container {
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 767px) {
  .film_container {
    width: calc(100% / 2);
  }
}
